.cta-dg {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: all 0.4s ease;
}

.cta-dg-small {
    padding: 8px 16px;
    font-size: 14px;
}

.cta-dg-primary-white {
    background: #000000;
    color: #ffffff;
    border: 2px solid transparent;
}

.cta-dg-primary-white:hover {
    background: #ffffffd2;
    color: #2c63b1;
}

.cta-dg-with-icon .cta-icon {
    font-size: 16px;
    transition: transform 0.4s ease, color 0.4s ease;
}

.cta-dg-with-icon:hover .cta-icon {
    transform: translateX(3px);
}

/* Chart Buttons (Chart-btn) */

.Chart-btn {
    display: flex;                /* Per usare flexbox */
    justify-content: center;       /* Centra orizzontalmente i bottoni */
    gap: 15px;                     /* Spazio tra i bottoni */
}

.Chart-btn .btn {
    background-color: transparent !important;  /* Nessuno sfondo */
    border: none !important;                   /* Rimuove bordi */
    color: rgb(42, 118, 218) !important;                   /* Colore del testo */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}

.Chart-btn .btn:hover {
    color: #00ffff !important;                 /* Colore hover opzionale */
    background-color: rgba(255,255,255,0.1) !important; /* leggero effetto hover */
}