/* Divisore generico */
.Divisor {
    height: 1px;                        /* spessore della linea */
    width: 70%;                          /* occupa il 70% della larghezza */
    background-color: #d0d0d0;           /* colore linea, poco più scuro dello sfondo */
    margin-left: auto;                   /* centrata orizzontalmente e con spazio sopra/sotto */
    margin-right: auto;                   /* centrata orizzontalmente e con spazio sopra/sotto */
    border-radius: 2px;                  /* arrotonda leggermente gli angoli */
}

/* Articolo pagina EcoView */
.article-row {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    align-items: flex-start;
}

.article-column {
    width: 50%;
}

.article-rowtext {
    width: 100%;
}

.article-title {
    margin-bottom: 10px;
}

.article-block {
    margin: 15px auto;   /* centro orizzontale */
    width: 70%;          /* controlli tu la larghezza */
}