body {
    font-family: 'Inter', sans-serif;
}

.TitlePar-3 {
    background-color: #1f3e5c83;
}

.TitlePar-tit {
    color: #2c63b1;
}

.text-col{
    flex: 1;
}

.image-col{
    flex: 1;
}

.image-col img{
    width: 100%;
    max-width: 400px;
}

.market-title {
    font-size: 60px;
    font-weight: 700;
}

.card {
    border-radius: 16px;
    padding: 20px;
}

.footer {
    background-color: #1D4B8C;
    color: white;
    padding: 50px 40px;
    font-size: 14px;
}

.footer-title {
    font-weight: 600;
    margin-bottom: 15px;
}

.footer a {
    color: #cde7f3;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    margin-bottom: 8px;
}

.social {
    margin-right: 12px;
}

.privacy-text {
    font-size: 12px;
    margin-top: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu {
    border-radius: 8px;
    padding: 10px 0;
}

.dropdown-item:hover {
    background-color: #0d6efd;
    color: white;
    padding: 15px 25px;
}

.dropdown-item {
    padding: 10px 20px;
}

.metric-card {
    height: 210px;              /* altezza fissa */
    display: flex;
    text-align: Left;
    transition: all 0.25s ease;
    cursor: pointer;
}

.metric-card h1{
    font-size: 16px;
    font-weight: 300;
}

.metric-card:hover {
    filter: brightness(1.15);
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.4);
}

.metric-card .card-icon {
    margin-bottom: 11px;
}