.title-ecoview {
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("/assets/contents/ecoview/ecoview.jpg");

    background-size: cover;
    background-position: center;

    width: 100%;
    min-height: 390px;

    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0;
}

.article-title {
    color: var(--text-color);
    font-weight: 600;
}

.main-ecoview {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;      /* opzionale */
    margin-top: 0px;
}

.quarter-dd {
    color: var(--text-color);
    margin: 15px;
    width: 100%;  /* oppure 300px se vuoi controllo preciso */
}

.article-column {
    width: 50%;
    height: 100%;
}

.article-column-article-card {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 50%;
    margin: 0;
    align-self: stretch;   /* si estende all'altezza del fratello più alto */
    display: flex;         /* rende la card stessa un flex container */
    flex-direction: column;
    text-align: justify;
}

.article-column-article-card .card-body {
    flex: 1;               /* occupa tutto lo spazio verticale disponibile nella card */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-row {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.article-row.reverse {
    flex-direction: row-reverse;
}

.article-block {
    margin-top: 25px;
    margin-bottom: 99px;
}

.Dist-ecoview {
    background-color: var(--bg-color);
    height: 20vh;
    margin-top: 0;
}