.eqystr {
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("/assets/contents/equitystrategy/market.png");

    background-size: cover;
    background-position: center;

    width: 100%;
    min-height: 390px;

    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0;
}

.Cont-eqystr {
    background-color: var(--bg-color);
}

.Dist-eqystr {
    background-color: var(--bg-color);
    height: 20vh;
}

.control-eqystr {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    max-width: 1000px;
    margin: 0 5%;

    padding: 20px;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Drop Downs */

#ticker-dropdown {
    width: 300px;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Sezione del grafico */
.Graph-eqystr {
    background-color: white;
    
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;   /* centra */

    border-radius: 4px;
    border: 1px solid grey;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;

    padding: 20px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Colonna destra del grafico */
.Graph-container {
    flex-grow: 1;
    min-width: 0;
}

.picker-eqystr {
    display: inline-flex;
    width: fit-content;
    box-shadow: none !important;
    background: transparent !important;
}

.picker-eqystr .DateRangePickerInput,
.picker-eqystr .DateRangePickerInput__withBorder,
.picker-eqystr .DateInput,
.picker-eqystr .DateInput_input,
.picker-eqystr > div > div {
    border: none !important;
    box-shadow: none !important;
}

.chart-toolbar {
    display: flex;
    align-items: center;
    gap: 55px;
    margin-bottom: 10px;
}

.Chart-btn {
    margin: 0 auto;
}

.Chart-btn .btn {
    color: grey !important;
    background-color: transparent !important;
    border-color: var(--text-color) !important;
}

.Chart-btn .btn:hover {
    color: grey !important;
    background-color: white !important;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Selezione del mese */
.selection-box {
    width: 35%;
    flex-shrink: 0;
}

.selection-box h4 {
    color: black;
    font-weight: 700;
    font-size: 20px;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Metric box */
.metrics-wrapper {
    max-width: 1500px;
    margin: 30px auto 0;
}

.metrics-row {
    column-gap: 24px;
    row-gap: 24px;
    justify-content: center;
    background-color: var(--bg-color);
}

.metric-title {
    font-size: 24px;
    font-weight: 600;
    white-space: nowrap;
    color: black;
}

.metric-value {
    font-size: 20px;
    font-weight: 300;
    transition: color 0.2s ease;
}

.metrics-wrapper .card {
    text-align: center;
    border-radius: 12px;
    background-color: white;
}

.metrics-wrapper .card-body {
    padding: 1px 2px;
}

/* Conditional colors */
.metric-value[data-sign="positive"] {
    color: #16a34a;
}

.metric-value[data-sign="negative"] {
    color: #dc2626;
}

.metric-value[data-sign="neutral"] {
    color: black;
}





.main-graph {
    background-color: transparent !important;
    width: 100%;
    height: 100%;
}

.graph-container {
    padding: 0;
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Menu descrizione strategia */
.accordion {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    overflow: hidden;     /* evita che il bordo si rompa */

    max-width: 1550px; 
    margin: 20px auto;
    color: var(--text-color);
}

.accordion-button {
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
    font-weight: 700;
}

/* quando aperto */
.accordion-button:not(.collapsed) {
    color: black !important;
    background-color:  white !important;
}

/* rimuove bordo/outline blu fastidioso */
.accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.accordion-item {
    color: black !important;
    background-color: white !important;
    border: none;
}