.indinvest-tit {
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("/assets/contents/indinvest/indinvest.jpg");

    background-size: cover;
    background-position: center;

    width: 100%;
    min-height: 390px;

    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indinvest-title {
    font-size: 60px;
    font-weight: 700;
}

.Cont-indi {
    background-color: var(--color-bg);
}

.Cont-indi h1 {
    font-size: clamp(16px, 1.5vw, 28px);
    margin: 0px 14%;
    padding: 12px;
    font-weight: 600;
    color: var(--color-text-title);
}

.ParOne-Indi {
    margin: 0px 14% !important;
} 

.Cont-indi p {
    font-size: clamp(14px, 1.5vw, 20px);
    margin: 0px 4%;
    padding: 20px;
    font-weight: 300;
    white-space: pre-line;
    text-align: justify;
    color: var(--color-text-lighter);
}

.Paragr-Indi {
    background-color: var(--color-bg-soft);
}

.Content-Indi {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1% 15%;
    background-color: var(--color-bg-soft);
    margin-top: 40px;
}

.LeftColumn-Indi {
    background: var(--color-primary);
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.Img-Indi {
    max-width: clamp(300px, 28vw, 600px);
    border-radius: 12px;
    margin-left: auto;
}

.Dist-Indi {
    background-color: var(--bg-color);
    height: 20vh;
    margin-top: 0;
}

