.market {
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("/assets/contents/market/market.jpg");

    background-size: cover;
    background-position: center;

    width: 100%;
    min-height: 390px;

    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Cont-mkt {
    background-color: var(--bg-color);
    margin-bottom: 0;
}

.Dist-mkt {
    background-color: var(--bg-color);
    height: 20vh;
    margin-top: 0;
}

.Cont-mkt h1 {
    font-size: clamp(16px, 1.5vw, 28px);
    margin: 0px 14%;
    padding: 12px;
    font-weight: 600;
    color: var(--text-color);
}

.Cont-mkt p {
    font-size: clamp(14px, 1.3vw, 18px);
    margin: 0px 14%;
    padding: 20px;
    font-weight: 300;
    color: var(--text-color);
    white-space: pre-line;
}

.fig-mkt {
    max-width: clamp(300px, 35vw, 800px);
    border-radius: 12px;
    margin: 0px auto;
    display: block;
    border: 2px solid #1a2636;
}

.tab-mkt {
    max-width: clamp(300px, 35vw, 1200px);
    border-radius: 12px;
    margin: 0px auto;
    margin-top: 30px;
    display: block;
    border: 2px solid #1a2636;
}

