.timehoriz {
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("/assets/contents/timehoriz/timehoriz.jpg");

    background-size: cover;
    background-position: center;

    width: 100%;
    min-height: 390px;

    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timehoriz-title {
    font-size: 60px;
    font-weight: 700;
}

.Cont-Time {
    background-color: var(--bg-color);
}

.Cont-Time h1 {
    font-size: clamp(16px, 1.5vw, 28px);
    margin: 0px 14%;
    padding: 12px;
    font-weight: 600;
    color: var(--text-color);
}

.Cont-Time p {
    font-size: clamp(14px, 1.5vw, 20px);
    margin: 0px 14%;
    padding: 20px;
    font-weight: 300;
    white-space: pre-line;
}

.fig-time {
    max-width: clamp(300px, 40vw, 800px);
    border-radius: 12px;
    margin: 10px auto;
    display: block;
    border: 2px solid #1a2636;
}

.tab-time {
    max-width: clamp(400px, 50vw, 1200px);
    border-radius: 12px;
    margin: 0px auto;
    margin-top: 30px;
    display: block;
    border: 2px solid #1a2636;
}

.Dist-Time {
    background-color: var(--bg-color);
    height: 20vh;
    margin-top: 0;
}